///////////////////////////////////////////////////////////////////////////////
////////                                                               ////////
////////                            VARIABLES                          ////////
////////                                                               ////////
///////////////////////////////////////////////////////////////////////////////

$first-font: 'Raleway', sans-serif;
$second-font: 'Scope One', serif;

.header-font {
  font-family: $first-font;
  font-weight: 800;
  font-style: oblique;
}

.body-font {
  font-family: $second-font;
}

.small {
  font-size: 80%;
}

$charcoal: #2D4D58;
$orange: #EA7317;
$rose: #C17C74;
$dust: #E2E4E4;
$white: #FFFFFF;


$charcoal10: #2D4D5810;

.charcoal {
  color: $charcoal;
}
.orange {
  color: $orange !important;
}
.rose {
  color: $rose;
}
.dust {
  color: $dust;
}
.white {
  color: $white;
}

.spacey {
  letter-spacing: 0.1em;
}
.spacier {
  letter-spacing: 0.6em;
}


///////////////////////////////////////////////////////////////////////////////
////////                                                               ////////
////////                            GENERAL                            ////////
////////                                                               ////////
///////////////////////////////////////////////////////////////////////////////

.body {
  @extend .body-font;

  color: $white;
  background-color: $rose;
}

h1 {
  @extend .header-font;
  font-size: 12vw !important;
  line-height: 1 !important;
}

h2 {
  font-size: 5vw !important;
}

p {
  letter-spacing: 0.07em;
}

a:hover {
  color: $white !important;
}

@media screen and (max-width: 600px) {
  section {
    min-height: 60vh;
  }

  h1 {
    // font-size: 15vw !important;
  }
  h2 {
    // font-size: 8vw !important;
  }
}


///////////////////////////////////////////////////////////////////////////////
////////                                                               ////////
////////                            ACCENTS                            ////////
////////                                                               ////////
///////////////////////////////////////////////////////////////////////////////

.mark {
  background-color: $orange !important;
  color: $white;
}

.under {
  // padding-left: 0.25em;
  // padding-right: 0.25em;
  // margin-right: 0.1em;
  border-bottom: 0.2em solid $orange;
  // border-right: 0.2em solid $orange;
}

.bigger {
  font-size: 1.2em;
}


///////////////////////////////////////////////////////////////////////////////
////////                                                               ////////
////////                            CONTENT                            ////////
////////                                                               ////////
///////////////////////////////////////////////////////////////////////////////

.container {
  display: flex;
  flex-direction: column;
}

section {
  min-height: 32rem;
  border-bottom: 0.1em solid $dust;
}

.caption {
  p {
  }

  span {
    @extend .spacey, .under;
    font-family: $first-font;
    font-style: italic;
    font-size: 1.2em;
    padding-left: 0.4em;
    padding-right: 0.2em;
  }
}

.main {
  table {
    color: $white !important;
  }

  th {
    @extend .small;

    font-weight: 300;
    color: $dust;
    min-width: 8em;
    vertical-align: bottom;
  }

  tr:hover {
    color: $charcoal !important;
    background-color: $charcoal10 !important;
    opacity: 0.8;

    // th {
    //   color: $white !important;
    // }
  }
}

.details {
  background-color: $orange;

  p {
    color: $dust;
    font-size: 0.9rem;
    margin-bottom: 0.4em;
  }
}

.contact {
  border-bottom: none;

  p {
  }
}


///////////////////////////////////////////////////////////////////////////////
////////                                                               ////////
////////                        TITLES ANIMATION                       ////////
////////                                                               ////////
///////////////////////////////////////////////////////////////////////////////

.title:nth-of-type(1) {
  --duration: 12s;
  --delay: 6s;
  @extend %title;
}

.title:nth-of-type(2) {
  --duration: 18s;
  --delay: 1s;
  @extend %title;
}

.title:nth-of-type(3) {
  --duration: 14s;
  --delay: 8s;
  @extend %title;
}

%title {
  // width: 100%;
  // position: relative;
  // display: flex;
  // align-items: center;
  height: 50px;

  .bg {
    width: 0%;
    height: inherit;
    background: $charcoal;
    opacity: 0.8;
    position: absolute;
    animation: bgAnimate var(--duration) cubic-bezier(.74, .06, .4, .92) var(--delay) infinite forwards;
    display: flex;
  }

  p {
    color: $charcoal;
    font-family: $first-font;
    font-size: 1.8rem;
    // justify-content: center;
    animation: textAnimate var(--duration) cubic-bezier(.74, .06, .4, .92) var(--delay) infinite forwards;
    display: flex;
    align-items: baseline;
    position: relative;
  }
}

@keyframes bgAnimate {
  0% {
    width: 0%;
    left: 0;
  }
  20% {
    width: 100%;
    left: 0;
  }
  40% {
    width: 0;
    left: 100%;
  }
}

@keyframes textAnimate {
  0% {
    color: $charcoal;
    text-decoration: none;
  }
  20% {
    color: $white;
    opacity: 0.85;
    text-decoration: underline;
  }
  40% {
    color: $charcoal;
    text-decoration: none;
  }
}
