.header-font, h1 {
  font-family: "Raleway", sans-serif;
  font-style: oblique; }

.body-font, .body {
  font-family: "Scope One", serif; }

.small, .main th {
  font-size: 80%; }

.charcoal {
  color: #2D4D58; }

.orange {
  color: #EA7317 !important; }

.rose {
  color: #C17C74; }

.dust {
  color: #E2E4E4; }

.white {
  color: #FFFFFF; }

.spacey, .caption span, .contact span {
  letter-spacing: 0.1em; }

.spacier {
  letter-spacing: 0.6em; }

.body {
  color: #FFFFFF;
  background-color: #C17C74; }

h1 {
  font-size: 10rem !important;
  line-height: 1 !important; }
  h1 span {
    font-weight: 800; }

h2 {
  font-size: 4rem !important; }

p, tr {
  letter-spacing: 0.07em; }

a:hover {
  color: #FFFFFF !important; }

@media screen and (max-width: 992px) {
  section {
    min-height: 60vh; }

  h1 {
    font-size: 12vw !important; }

  h2 {
    font-size: 5.5vw !important; }

  p, td {
    font-size: 0.9em; } }
.mark-orange {
  background-color: #EA7317 !important;
  color: #FFFFFF; }

.mark-charcoal, .caption span, .contact span {
  background-color: #2D4D5830 !important;
  color: #FFFFFF;
  opacity: 0.8; }

.under, .caption span, .contact span {
  border-bottom: 0.2em solid #EA7317; }

.bigger {
  font-size: 1.2em; }

.caption span, .contact span, .main tr:hover .me {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2); }

.container {
  display: flex; }

section {
  min-height: 32rem;
  border-bottom: 0.1em solid #E2E4E4; }

.caption span, .contact span {
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-size: 1.05em;
  padding-left: 0.4em;
  padding-right: 0.2em; }

.main table {
  color: #FFFFFF !important; }
.main tr {
  height: 4em; }
.main tr:hover {
  color: #2D4D58;
  background-color: #2D4D5830;
  opacity: 0.8; }
.main th {
  font-weight: 300;
  color: #E2E4E4;
  min-width: 9em;
  vertical-align: bottom; }
.main td {
  vertical-align: bottom; }

.details {
  background-color: #EA7317; }
  .details p {
    color: #E2E4E4;
    font-size: 0.9rem;
    margin-bottom: 0.4em; }

.contact {
  border-bottom: none; }
  .contact span {
    margin-left: -6px; }
  .contact ::placeholder {
    font-style: oblique; }
  .contact input, .contact textarea {
    border-radius: .16rem !important;
    opacity: 0.9; }
    .contact input:focus, .contact textarea:focus {
      color: #2D4D58;
      font-style: oblique; }
  .contact input:focus, .contact textarea:focus {
    border: none;
    box-shadow: none; }
  .contact button {
    color: #E2E4E4;
    background-color: #2D4D58;
    border: none;
    border-radius: .16rem !important;
    opacity: 0.95; }
  .contact button:hover {
    background-color: #E2E4E4;
    color: #2D4D58;
    opacity: 0.8; }

.title {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 90%; }
  .title .bg {
    width: 0%;
    height: inherit;
    background: #EA7317;
    position: absolute;
    margin-left: -0.15em;
    animation: mainBlock 8s cubic-bezier(0.74, 0.06, 0.4, 0.92) infinite forwards;
    animation-delay: 1s;
    display: flex; }
  .title .content {
    -webkit-animation: mainFadeIn 8s infinite forwards;
    -o-animation: mainFadeIn 8s infinite forwards;
    animation: mainFadeIn 8s infinite forwards;
    animation-delay: 1s;
    opacity: 0;
    display: flex;
    align-items: baseline;
    position: relative; }

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0; }
  15% {
    width: 110%;
    left: 0; }
  25% {
    width: 110%;
    left: 0; }
  40% {
    width: 0;
    left: 105%; } }
@keyframes mainFadeIn {
  0% {
    opacity: 0; }
  10% {
    opacity: 0; }
  50% {
    opacity: 1; }
  80% {
    opacity: 1; } }
.main span {
  display: inline-block;
  position: relative;
  z-index: 0; }
  .main span::after {
    position: absolute;
    z-index: -1;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 100%;
    height: 0px;
    background-color: #EA7317;
    transition: all 0.7s; }

.main tr:hover .me {
  color: #FFFFFF;
  opacity: 1; }
  .main tr:hover .me::after {
    height: 116%;
    width: 106%; }

/*# sourceMappingURL=style.css.map */
