///////////////////////////////////////////////////////////////////////////////
////////                                                               ////////
////////                            VARIABLES                          ////////
////////                                                               ////////
///////////////////////////////////////////////////////////////////////////////

$first-font: 'Raleway', sans-serif;
$second-font: 'Scope One', serif;

.header-font {
  font-family: $first-font;
  font-style: oblique;
}

.body-font {
  font-family: $second-font;
}

.small {
  font-size: 80%;
}

$charcoal: #2D4D58;
$orange: #EA7317;
$rose: #C17C74;
$dust: #E2E4E4;
$white: #FFFFFF;


// $charcoal10: #2D4D5810;
$charcoal30: #2D4D5830;
$orange99: #EA731799;

.charcoal {
  color: $charcoal;
}
.orange {
  color: $orange !important;
}
.rose {
  color: $rose;
}
.dust {
  color: $dust;
}
.white {
  color: $white;
}

.spacey {
  letter-spacing: 0.1em;
}
.spacier {
  letter-spacing: 0.6em;
}


///////////////////////////////////////////////////////////////////////////////
////////                                                               ////////
////////                            GENERAL                            ////////
////////                                                               ////////
///////////////////////////////////////////////////////////////////////////////

.body {
  @extend .body-font;

  color: $white;
  background-color: $rose;
}

h1 {
  @extend .header-font;
  font-size: 10rem !important;
  line-height: 1 !important;

  span {
    font-weight: 800;
  }
}

h2 {
  font-size: 4rem !important;
}

p, tr {
  letter-spacing: 0.07em;
}

a {
  @extend .under;
  color: $white;
}

a:hover {
  // color: $white !important;
  color: $charcoal !important;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  section {
    min-height: 60vh;
  }

  h1 {
    font-size: 12vw !important;
  }
  h2 {
    font-size: 5.5vw !important;
  }

  p, td {
    font-size: 0.9em;
  }
}


///////////////////////////////////////////////////////////////////////////////
////////                                                               ////////
////////                            ACCENTS                            ////////
////////                                                               ////////
///////////////////////////////////////////////////////////////////////////////

.mark-orange {
  background-color: $orange !important;
  color: $white;
}

.mark-charcoal {
  background-color: $charcoal30 !important;
  color: $white;
  opacity: 0.8;
}

.under {
  // padding-left: 0.25em;
  // padding-right: 0.25em;
  // margin-right: 0.1em;
  border-bottom: 0.2em solid $orange;
  // border-right: 0.2em solid $orange;
}

.bigger {
  font-size: 1.2em;
}

%text-shadow {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}

///////////////////////////////////////////////////////////////////////////////
////////                                                               ////////
////////                            CONTENT                            ////////
////////                                                               ////////
///////////////////////////////////////////////////////////////////////////////

.container {
  display: flex;
}

section {
  min-height: 32rem;
  border-bottom: 0.1em solid $dust;
}

.caption span, .contact span {
  @extend .spacey, .under, .mark-charcoal, %text-shadow;;
  font-family: $first-font;
  font-style: italic;
  font-size: 1.05em;
  padding-left: 0.4em;
  padding-right: 0.2em;
}

// .contact span.title span {
//   @extend .spacey, .under, .mark-charcoal, %text-shadow;;
//   font-family: $first-font;
//   font-style: italic;
//   font-size: 1.05em;
//   // padding-left: 0.4em;
//   // padding-right: 0.2em;
// }

.main {
  table {
    color: $white !important;
  }

  tr {
    height: 4em;
  }

  tr:hover {
    color: $charcoal;
    background-color: $charcoal30;
    opacity: 0.8;
  }

  // tr:hover th {
  //   color: $white !important;
  //   opacity: 1 !important;
  // }

  th {
    @extend .small;

    font-weight: 300;
    color: $dust;
    min-width: 9em;
    vertical-align: bottom;
  }

  td {
    vertical-align: bottom;
  }
}

.details {
  background-color: $orange;

  p {
    color: $dust;
    font-size: 0.9rem;
    margin-bottom: 0.4em;
  }
}

.contact {
  // border-bottom: none;

  p {
    // margin-bottom: -84px;
  }

  span {
    margin-left: -6px;
  }

  ::placeholder {
    font-style: oblique;
  }

  input, textarea {
    font-size: 0.9rem !important;
    border-radius: .16rem !important;
    opacity: 0.9;

    &:focus {
      color: $charcoal;
      font-style: oblique;
    }
  }
  input:focus, textarea:focus {
    border: none;
    box-shadow: none;
  }

  button {
    color: $dust;
    background-color: $charcoal;
    border: none;
    border-radius: .16rem !important;
    opacity: 0.95;
  }

  button:hover {
    background-color: $dust;
    color: $charcoal;
    opacity: 0.8;
  }
}

footer {
  border-top: 0.1em solid $dust;
}


///////////////////////////////////////////////////////////////////////////////
////////                                                               ////////
////////                           ANIMATION                           ////////
////////                                                               ////////
///////////////////////////////////////////////////////////////////////////////

// https://codepen.io/KaioRocha/pen/YoEVvZ?editors=1100

.title {
  // width: 100%;
  position: relative;
  display: inline-flex;
  // display: flex;
  align-items: center;
  height: 90%;
  // height: 10rem;
  // height: 50px;

  .bg {
    width: 0%;
    height: inherit;
    background: $orange;
    position: absolute;
    margin-left: -0.15em;
    animation: mainBlock 8s cubic-bezier(.74, .06, .4, .92) infinite forwards;
    animation-delay: 1s;
    display: flex;
  }

  .content {
    -webkit-animation: mainFadeIn 8s infinite forwards;
    -o-animation: mainFadeIn 8s infinite forwards;
    animation: mainFadeIn 8s infinite forwards;
    animation-delay: 1s;
    opacity: 0;
    display: flex;
    align-items: baseline;
    position: relative;
  }
}


@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;

  }
  15% {
    width: 110%;
    left: 0;
  }
  25% {
    width: 110%;
    left: 0;
  }
  40% {
    width: 0;
    left: 105%;
  }
  // 50% {
  //   width: 100%;
  //   left: 0;

  // }
  // 100% {
  //   width: 0;
  //   left: 100%;
  // }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
}

// https://codepen.io/matchboxhero/pen/XeEYyy?editors=1100

.main span {
  display: inline-block;
  position: relative;
  z-index: 0;

  &::after {
    position: absolute;
    z-index: -1;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 100%;
    height: 0px;
    background-color: $orange;
    transition: all 0.7s;
  }
}

.main tr:hover .me {
  @extend %text-shadow;
  color: $white;
  opacity: 1;

  &::after {
    height: 116%;
    width: 106%;
  }

}
