///////////////////////////////////////////////////////////////////////////////
////////                                                               ////////
////////                            VARIABLES                          ////////
////////                                                               ////////
///////////////////////////////////////////////////////////////////////////////

$first-font: 'Work Sans', Sans-Serif;
$second-font: 'Open Sans', Sans-Serif;
$third-font: 'Libre Baskerville', serif;

$charcoal: #2D4D58;
$orange: #EA7317;
$rose: #C17C74;
$dust: #E2E4E4;
$white: #FFFFFF;

.charcoal {
  color: $charcoal;
}
.orange {
  color: $orange !important;
}
.rose {
  color: $rose;
}
.dust {
  color: $dust;
}
.white {
  color: $white;
}

.spacey {
  letter-spacing: 0.1em;
}
.spacier {
  letter-spacing: 0.6em;
}


///////////////////////////////////////////////////////////////////////////////
////////                                                               ////////
////////                        TITLES ANIMATION                       ////////
////////                                                               ////////
///////////////////////////////////////////////////////////////////////////////

.body {
  color: $white;
  font-family: $second-font;
  font-weight: lighter;
  // color: $charcoal;
  background-color: $rose;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 80vh;
}

h1, h2 {
  font-family: $first-font;
}

h1 {
  font-size: 12vw !important;
  line-height: 1 !important;
}

h2 {
  font-size: 5vw !important;
}

h3 {
  font-family: $second-font;
}

h4 {
  font-family: $third-font;
  margin-bottom: 1.2em !important;
  // color: $white;
  // background-color: $orange;
}

p {
}

a:hover {
  color: $white !important;
}

@media screen and (max-width: 600px) {
  section {
    min-height: 60vh;
  }

  h1 {
    font-size: 15vw !important;
  }
  h2 {
    font-size: 8vw !important;
  }
}


.third-font {
  font-family: $third-font;
}

.mark {
  background-color: $orange !important;
  color: $white;
}

.under {
  // padding-left: 0.25em;
  // padding-right: 0.25em;
  // margin-right: 0.1em;
  border-bottom: 0.2em solid $orange;
  border-right: 0.2em solid $orange;
}

.bigger {
  font-size: 1.2em;
}

.caption {
  justify-content: center;
  border-top: 0.1em solid $dust;
  border-bottom: 0.1em solid $dust;
  min-height: 400px;
  font-size: 1.12rem;

  p {
    // border-top: 0.1em solid $white;
    // border-bottom: 0.1em solid $white;
  }
}

.details {
  background-color: $orange;

  p {
    color: $dust;
    font-size: 0.9rem;
    margin-bottom: 0.4em;
  }
}

.who p, ,.contact p {
  color: $dust;
  font-size: 0.9rem;
  margin-bottom: 0.4em;
}

///////////////////////////////////////////////////////////////////////////////
////////                                                               ////////
////////                        TITLES ANIMATION                       ////////
////////                                                               ////////
///////////////////////////////////////////////////////////////////////////////

.title:nth-of-type(1) {
  --duration: 12s;
  --delay: 6s;
  @extend %title;
}

.title:nth-of-type(2) {
  --duration: 18s;
  --delay: 1s;
  @extend %title;
}

.title:nth-of-type(3) {
  --duration: 14s;
  --delay: 8s;
  @extend %title;
}

%title {
  // width: 100%;
  // position: relative;
  // display: flex;
  // align-items: center;
  height: 50px;

  .bg {
    width: 0%;
    height: inherit;
    background: $charcoal;
    opacity: 0.8;
    position: absolute;
    animation: bgAnimate var(--duration) cubic-bezier(.74, .06, .4, .92) var(--delay) infinite forwards;
    display: flex;
  }

  p {
    color: $charcoal;
    font-family: $third-font;
    font-size: 1.8rem;
    // justify-content: center;
    animation: textAnimate var(--duration) cubic-bezier(.74, .06, .4, .92) var(--delay) infinite forwards;
    display: flex;
    align-items: baseline;
    position: relative;
  }
}

@keyframes bgAnimate {
  0% {
    width: 0%;
    left: 0;
  }
  20% {
    width: 100%;
    left: 0;
  }
  40% {
    width: 0;
    left: 100%;
  }
}

@keyframes textAnimate {
  0% {
    color: $charcoal;
    text-decoration: none;
  }
  20% {
    color: $white;
    opacity: 0.85;
    text-decoration: underline;
  }
  40% {
    color: $charcoal;
    text-decoration: none;
  }
}
